.page {
    height: 100%;
    position: relative;
}
.page-head {
    position: relative;
    height: 50px;
    z-index: 200;
}

.page-menus {
    width: 220px;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 100;
    padding-top: 50px;
    border-right: 1px solid #777;
    overflow: hidden;
}


.page-menus .glyphicon {
    margin-right: .5rem;
}

.page-content {
    position: absolute;
    left: 220px;
    top: 0;
    right: 0;
    padding-top: 50px;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
}

.page-menus .main-menubar {
    height: 100%;
}

.page-menus .menus {
    height: 100%;
    overflow: auto;
}

.page-menus .menus li {
    cursor: pointer;
    font-size: 1rem;
    padding-left: 1rem;
    border-bottom: 1px solid #080808;
    min-height: 2.5rem;
    line-height: 2.5rem;
}
.page-menus .menus li.first {
    border-top: 1px solid #080808;
}
.page-menus .menus li li.last {
    border-bottom: 0;
}
.page-menus .menus li.active {
    font-weight: 700;
    background-color: #555;
}
.page-menus .menus li:hover {
    background-color: #555;
}

.page-menus .menus li > a {
    display: block;
    margin-left: -1rem;
    padding-left: 1rem;
}

.page-menus .menus li > a:hover {
    text-decoration: none;
    font-weight: 600;
}

.page-menus .menus li > ul {
    display: none;
    margin-left: -1rem;
    padding-left: 1rem;
    background-color: #000;
}


.page-menus .switcher {
    display: none;
    height: 2.5rem;
    line-height: 2.5rem;
    padding-left: 1rem;
    font-size: .8rem;
}

body.b-xs .page-menus .switcher {
    display: block;
}


body.b-xs .page-menus.menus-hide {
    height: auto;
    width: 3rem;
}

body.b-xs .page-menus.menus-hide .switcher {
    display: block;
    height: 1.5rem;
    width: 1.5rem;
    line-height: 1.5rem;   
}

body.b-xs .page-menus.menus-hide .main-menubar {
    height:1.5rem;
}

body.b-xs .page-content {
    left: 0;
}

body.b-xs .page-head .navbar-form {
    margin: 0;
}
body.b-xs .page-head .navbar-nav {
    margin-bottom: 0;
}
.page-content-container {
    padding-top: 2rem;
    height: 100%;
}
