body {
	padding-top: 70px;
}
.page {
	min-height: 100%;
}
.page-alert .alert {
	position: fixed;
    top: 0;
    left: 0;
    right: 0;
}
.page-alert {
    padding-left: 0;
    padding-right: 0;
    position: fixed;
    z-index: 200;
    left: 0;
    right: 0;
    text-align: center;
}
.header-menus {
	position: relative;
}
.header-menus .logo {
	min-width: 90px;
}
.header-menus.fixed-top {
	position: fixed;
	top: 0;
	left: 15px;
	right: 15px;
	z-index: 100;
}
.header-menus a {
	color: #fff;
}
.header-menus .navbar {
    border-radius: 0;
    margin-bottom: 0;
    
}
@media (min-width: 768px) {
    .header-menus .navbar { 
        min-height: 60px;
    }
    .header-menus .navbar-brand {
        height:60px;
    }
    .header-menus .navbar-nav > li > a {
        padding-top: 20px;
        padding-bottom: 20px;
        font-size: .8rem;
    }
    .header-menus .loginbar {
        float: right;
    }
}

.header-menus .navbar-brand img {
    height: 100%;
    width: auto;
}


.enroll-menu {
    margin-top: -1px;
    margin-bottom:-1px; 
}
.enroll-menu > li:last-child {
    background-color: #b50b25;
    border: 1px solid #b50b25;
}
 .navbar-inverse .enroll-menu > li > a {
    color: #f4f4f4;
    font-size: .9rem;
}



.footer {
	background-color: #222;
	color: #f1f1f1;
	padding: 1rem 0;
}
.footer a {
	color: #f1f1f1;
}
.footer a:hover,
.footer a:focus {
	text-decoration: none;
    color: #fff;
}
.friendlinks {
	font-size: 1rem;
	border-bottom: 1px solid #fff;
	padding: .5rem 0;
	text-align: center;
}
.site-links {
	padding: 1rem;
	font-size: .9rem;
}
.site-links ul {
    list-style: none;
    padding-left: 0;
}
.site-links > ul > li > a {
    display: inline-block;
    margin-bottom: .5rem;
    font-size: 1rem;
}